<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.PERSONEL_TRACKINGConnectionString"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=&quot;PERSONEL TRACKING&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>